<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#000000">
	<meta property="og:url" content=""/>
	<meta property="og:title" content="{{ .Title }}"/>
	{{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
	<meta property="og:image" content="h"  />
	<meta property="og:image:url"  content="h"  />
	<meta property="twitter:image" content="h"  />
</head>
<body>
	<header>
		
	</header>
	<main class="container">
		{{ block "main" . }}{{ end }}
	</main>
</body>
</html>
