{{ define "main" }}
	<article>
	{{ if .Content }}
	
		<div class="slide slide-intro">
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
	
	{{ end }}
	
	{{ range .Data.Pages }}
	  <div class="slide jury">
		<div>	
		  <h1>
			  <a href="{{.Permalink}}">
				{{.Title}}
			  </a>
		  </h1>
		  {{ if .Params.job }}
		    <h2>{{ .Params.job }}</h2>
		  {{ end }}
		  
		  {{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ if .Params.image }}
		<div  class="jury-image">
			<img src="{{ .Params.image | relURL }}" alt="">
		</div>
		{{ end }}
			
	  </div>
	  {{ end }}
	</article>
{{ end }}
