@font-face {
  font-family: 'Articulat';
  src: url('/fonts/bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Articulat';
  src: url('/fonts/regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}