---
import Layout from 'layouts/Layout.astro';
---

<Layout>
  <section class="layout my-20 md:my-40">
    <h1
      class="lg:col-start-3 lg:col-span-10 text-h-xl md:text-h-3xl mb-10 uppercase md:text-center"
    >
      <span class="block text-core">Erreur</span>
      <span class="block">404</span>
    </h1>
    <p class="text-center">Oups, la page que vous cherchez n'existe pas.</p>
  </section>
</Layout>
