---
import { getCollection } from 'astro:content';

import Category from 'components/Category.astro';
import Image from 'components/Image.astro';
import Layout from 'layouts/Layout.astro';

const categories = await getCollection('categories');

const participants = [
  { name: 'Havas', link: 'https://swiss.havas.com/' },
  { name: 'Franz&René', link: 'https://www.franzetrene.ch/' },
  { name: 'Cavalcade', link: 'https://www.cavalcade.ch/' },
  { name: 'M&C Saatchi', link: 'https://www.mcsaatchi.ch/' },
  { name: 'Créatives', link: 'https://creatives.com/projets/' },
  { name: 'Farner', link: 'https://www.farner.ch/en/' },
  { name: 'Trio', link: 'https://trio.ch/' },
  { name: 'Octane', link: 'https://www.octane-com.ch/' },
  { name: 'Moser Design', link: 'https://moserdesign.ch/en/' },
  { name: 'Karim Merzoug', link: 'https://karim.merzoug.ch/' },
  { name: '23bis', link: 'https://23bis.ch/en' },
  { name: 'Forme', link: 'https://www.forme.ch/' },
  { name: 'North Communication', link: 'https://www.north-communication.ch/' },
  { name: 'Parenti Design', link: 'https://www.parentidesign.com/' },
];
---

<Layout
  title="10 catégories pour pour le GRAND Prix Romand de la Création 2024. Award Le GRAND"
  description="Afin de remporter un Award du GRAND, 10 catégories sont à disposition afin de déposer sa candidature. Bonne chance à toutes et tous. Award / Prix le Association le GRAND."
>
  <!-- HERO -->
  <section class="layout my-20 md:my-40">
    <h1
      class="text-h-xl md:text-h-3xl uppercase -mt-[0.4em] md:row-start-1 md:col-start-3 md:col-span-8 z-10 md:w-fit"
    >
      <span class="flex justify-between w-full">
        <span>10</span>
        <span aria-hidden>(dix)</span>
      </span>
      <span class="block text-core">Catégories</span>
    </h1>

    <div
      class="relative col-start-3 md:!col-start-4 md:row-start-1 col-span-4 md:col-span-8 lg:col-span-7 xl:col-span-6 max-md:-mt-6"
    >
      <Image
        src="categories/1.jpg"
        alt="Le speaker du GRAND Prix Romand de la Création"
        sizes="(min-width: 1840px) 1281px, (min-width: 780px) calc(68.37vw + 37px), calc(83.48vw - 13px)"
        classes="aspect-w-1 aspect-h-1 after:absolute max-lg:after:h-1/3 lg:after:w-1/2 xl:after:w-1/3 max-lg:after:inset-x-0 lg:after:inset-y-0 after:bottom-0 lg:after:right-0 lg:after:bg-gradient-to-l after:bg-gradient-to-t after:from-neutral-900/60 after:to-transparent"
        loading="eager"
        fetchpriority="high"
        fadeIn
      />
      <p
        aria-hidden
        class="absolute left-2 md:left-3 bottom-2 md:bottom-3 text-code z-20"
      >
        01110000 01100001 01110010
      </p>
    </div>

    <div
      class="lg:row-start-1 md:col-start-7 lg:col-start-9 md:col-span-7 lg:col-span-4 self-end z-10 -mt-6 md:-mt-40"
    >
      <Image
        src="categories/grand-prix.png"
        alt="Le trophee du grand prix"
        sizes="10vw"
        classes="w-[30vw] md:w-52 mb-6 md:mb-10 max-md:ml-auto animate-float"
        loading="eager"
        fetchpriority="high"
      />
      <p class="lg:mb-16 md:text-lg">
        Pour la 15ème fois, le GRAND récompensera les campagnes et créations
        publicitaires romandes à travers 10 catégories.
      </p>
    </div>
  </section>

  <!-- CATEGORIES -->
  <section class="layout">
    <ul class="">
      {
        categories
          .sort((a, b) => a.data.order - b.data.order)
          .map((category) => <Category category={category} />)
      }
    </ul>
  </section>

  <!-- PARTICIPANTS -->
  <section class="layout my-20 md:my-40">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-5 md:text-lg">
      <h2>Ils ont participé l'année dernière</h2>
      <ul>
        {
          participants.map((participant, index) => (
            <li class="inline">
              <a href={participant.link} target="_blank">
                <span class="hover-underline after:bottom-1 whitespace-nowrap">
                  {participant.name +
                    `${index !== participants.length - 1 ? ',' : ''}`}
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
