---
import Button from 'components/Button.astro';
import Layout from 'layouts/Layout.astro';
---

<Layout>
  <h1 class="text-h-3xl mb-12">page d'accueil</h1>
  <Button href="/" classes="col-start-2 col-span-3">Inscrire un projet</Button>
</Layout>
