---
import '@splidejs/splide/css/core';
import Image from './Image.astro';

type SliderImg = {
  src: string;
  description?: string;
  alt: string;
  size: 'wide' | 'narrow';
}[];

const images: SliderImg = [
  {
    src: 'homepage/slider/1.jpg',
    description: 'Cérémonie 2023 à Lausanne.',
    alt: 'Zoom sur un public assis dans une salle.',
    size: 'wide',
  },
  {
    src: 'homepage/slider/2.jpg',
    description: 'Rencontres entre créatifs.',
    alt: 'Deux personnes en train de discuter.',
    size: 'narrow',
  },
  {
    src: 'homepage/slider/3.jpg',
    description:
      '23bis sur scène pour leur prix dans la catégorie “Creative Film”.',
    alt: '5 personnes sur scene en train de recevoir un prix.',
    size: 'wide',
  },
];
---

<!-- div to hide the first column -->
<div class="max-md:hidden col-start-1 col-span-1 bg-neutral-900 z-10 -mr-5">
</div>
<div
  class="splide col-start-2 col-span-full max-w-screen-2xl cursor-grab active:cursor-grabbing !visible"
  aria-label="Carousel d'images du Grand"
>
  <div class="splide__track !overflow-visible">
    <ul class="splide__list">
      {
        images.map(({ src, description, alt, size }) => (
          <li
            class:list={[
              'splide__slide !mr-4 md:!mr-5',
              size === 'wide'
                ? 'w-[calc(83.3vw-1.8rem)] md:w-[min(52.1rem,calc(50vw-2.3rem))]'
                : 'w-[calc(66.6vw-1.6rem)] md:w-[min(34.4rem,calc(34vw-2.6rem))]',
            ]}
          >
            <div>
              <Image
                src={src}
                alt={alt}
                sizes={
                  size === 'wide'
                    ? '(min-width: 1840px) 834px, (min-width: 780px) 46.25vw, calc(83.26vw - 29px)'
                    : '(min-width: 1840px) 550px, (min-width: 780px) calc(31.35vw - 21px), calc(66.74vw - 26px)'
                }
              />
              {description && (
                <p class="mt-3 max-md:text-sm" aria-hidden>
                  {description}
                </p>
              )}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  /* eslint-disable prettier/prettier */
  import { Splide } from '@splidejs/splide';

  const init = () => {
    new Splide('.splide', {
      type: 'loop',
      rewind: true,
      autoWidth: true,
      arrows: false,
      pagination: false,
      speed: 1000,
      flickPower: 200,
    }).mount();
  };

  document.addEventListener('DOMContentLoaded', init);
  document.addEventListener('astro:page-load', init);
</script>
